.review-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-accent-faint);
}

.review-card:last-child {
  border-bottom: none;
}

.review-user{
    color: var(--accent);
    font-weight: 500;
    opacity: 0.9;
}

.delete-icon {
  position: relative;
  bottom: 5px;
  right: 5px;
  background: none;
  border: none;
  color: var(--accent);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}

.delete-icon:hover {
  color: var(--accent-hover);
  transform: scale(1.2);
}
